<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= post.username %>'s Post</title>
    <link rel="stylesheet" href="/Poststyle.css">
</head>
<body>

    <h1><%= post.username %></h1>
    <h3>POST-ID:<%= post.id %></h3>
    <hr>
    <img src="/<%= post.imageUrl %>" alt="Post Image">

    <p><%= post.caption %></p>

    <p>Likes: <%= post.likes %></p>
    <hr>
    <button onclick="location.href='/posts'">Back</button>
    <button onclick="location.href='/posts/<%= post.id %>/edit'">Edit</button>
   
</body>
</html>
